body{
    margin: 0;
    padding: 0;
}

.tab{
    padding-left: 25px;
    padding-right: 30px;
    padding-top:7px;
    padding-bottom: 7px;
    font-size: 22px;
    cursor: pointer;
}

.tab:hover{
    background-color:rgb(91,85,85)
}

.logo-container{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    width: 70px;
    position: relative;
    left: 20%;
    cursor: pointer;
}

#container-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #403d3d;
    height: 100vh;
    align-self: flex-start;
}

a{
    text-decoration: none;
    color: rgb(241, 235, 235);
}

.mobile-menu{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #403d3d;
    display: none;
}

.hamburger{
    font-size: 40px;
    padding: 10px;
    display:  none;
}
@media (max-width:1000px) {
    #container-menu{
        display: none;
    }
    .hamburger{
        display:  block;
    }
    
}