@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color:rgba(45, 40, 40, 1);
    font-family: "Jost";
    color: rgb(241, 235, 235);
}

#container {
    display: flex;
}

.call-to-action{
    display: flex;
    margin: auto;
    object-fit: scale-down;
}

#text-container {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: center;
}

.basic-button{
    font-size: 35px;
    border:2px solid black;
    text-align: center;
    width: 300px;
    margin:25px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.sign-in{
    background-color: rgb(13,87,1);
}

.log-in{
    background-color:rgb(91,85,85)
}

.close{
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    bottom: 85%;
    left: 90%;
    cursor: pointer;
    color: rgb(211, 207, 207);
}

.close:hover{
    color: white;
}

.form {
    background-color:rgb(43, 41, 41);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 50px;
}
  
.submit-button {
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
}
  
.submit-button button {
    font-size: 20px;
    background-color: rgb(74,120,67);
    border-radius: 8px;
    height: 45px;
    width: 250px;
    font-weight: bold;
    border: 2px solid black;
    color:rgb(26, 25, 25)
}
  
.submit-button button:hover{
    background-color:rgb(46, 82, 40); 
    color:rgb(0, 0, 0) ;
    cursor: pointer;
}

.input-container-form{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
  
.input-container-form input{
    width: 240px;
    height: 25px;
}

.log-in-form h2{
  text-align: center;
}

@media (max-width:900px) {
    .call-to-action{
        display: flex;
        flex-direction: column;
        object-fit: scale-down;
    }

    .basic-button{
        font-size: 20px;
        width: 250px;
    }

    #text-container {
        display: flex;
        position: relative;
        font-size:23px;
        right: 20px;
    }
    
   .basic-button{
        margin: 0;
        margin-top: 20px;
   }

    .welcome-picture{
        margin-top: 70px;
        width: 300px;
    }

    .container{
        justify-content: center;
    }
}